# Build artifacts (if compiling TypeScript)
dist/

# Environment variables
.env

# Dependencies
node_modules/

# Ignore local personal testing scripts
src/scripts

# Logs
*.log

# MongoDB dumps 
dump/
